*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    /* background: #f5f6fa; */
    background-image: linear-gradient(rgba(7, 52, 66, 0.603),
    rgba(8, 57, 71, 0.582)),url(../images/images\ 14.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0px;

}

.wrapper .sidebar{
    background: rgba(6, 34, 48, 0.863);
    position:fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    
}

.profile img{
    display: block;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 15px 0 5px;
}


.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
    
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top-navbar{
    background: transparent;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    
}

.wrapper .section .top-navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top-navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

.next-section {
    text-align: center;
    padding: 150px;
    margin: 120px;
    color: #f4fbff;
    padding-right: 20px;
    
}
.typewrite .wrap {
    /* background-color:#ce3635; */
    text-align: center;
    color:#fff;
    /* padding-top:10em; */
    text-decoration: none;
    
  }

.next-section h3{
    padding-bottom: 20px;
    font-size: 20px;
    
}

.next-section h1{
    font-weight: bold;
    font-size: 50px;

}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
	        animation: tracking-in-expand 10s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }  
  

.next-section p{
    font-size: 20px;
    padding-top: 20px;
}

.next-section button{
    margin-top: 20px;
    padding: 20px;
    color: #f4fbff;
    font-size: 20px;
    border-radius: 1.7rem;
    cursor: pointer;
    width: 170px;
    background-color:rgba(6, 34, 48, 0.178) 
    
    
}
.pointer button:hover {
    background-color: aqua;
    color: #10558d;
}


.other-section {
    display: flex;
}

.other-section h3{
    align-items: center;
    
}